@import "../../variables";

.paginationWrapper {
  width: 280px;
  height: 41px;
  display: flex;
  margin: 0 auto;
  user-select: none;
}

.paginationButton {
  height: 100%;
  width: 41px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #464646;
  }

  &:not(:last-child) {
    border-right: 1px solid white;
  }
  &:not(:last-child).disabled {
    border-right: 1px solid $darkBtnDisabled;
  }

  &:first-child {
    border-left: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &:first-child.disabled {
    border-left: 1px solid $darkBtnDisabled;
  }
  &:last-child {
    border-right: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &:last-child.disabled {
    border-right: 1px solid $darkBtnDisabled;
  }

  &:nth-child(1),
  &:nth-child(2) {
    svg {
      transform: rotateZ(180deg);
    }
  }
}

.disabled {
  pointer-events: none;
  border-color: $darkBtnDisabled;
  &:hover {
    background-color: inherit;
  }
}

.active {
  background-color: $darkBtnActive;
  color: black;
  &:hover {
    background-color: $darkBtnActive;
  }
}


.lightButton {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;

  &:hover {
    background-color: #EDEDED;
  }

  &:not(:last-child) {
    border-right: 1px solid black;
  }
  &:not(:last-child).disabled {
    border-right: 1px solid $lightBtnDisabled;
  }

  &:first-child {
    border-left: 1px solid black;
  }
  &:first-child.disabled {
    border-left: 1px solid $lightBtnDisabled;
  }
  &:last-child {
    border-right: 1px solid black;
  }
  &:last-child.disabled {
    border-right: 1px solid $lightBtnDisabled;
  }

  &.disabled {
    border-color: $lightBtnDisabled;
  }

  &.active {
    background-color: $lightBtnActive;
    color: white;
    &:hover {
      background-color: $lightBtnActive;
    }
  }
}


@media (min-width: 640px) {
  .paginationWrapper {
    margin: 0;
  }
}