@import "./src/variables";
@import "./src/tamplates";

.select {
  width: 100%;
  position: relative;
  margin-bottom: 15px;

  &.open {
    .selectDropdown {
      display: block;
    }

    .selectInput {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
      background: $darkSelectOpenedBC;
    }

    .selectInputLight {
      background: $lightSelectBC;
      border: 1px solid $lightSelectOpenedBorder;
      border-bottom: none;
    }
  }
}

.selectInput {
  @extend %tplDarkSelectInput;
}

.selectInputLight {
  background: $lightSelectBC;
  border: 1px solid $lightSelectBorder;
  color: black;
}

.selectText {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectArrow {
  padding: 10px;
}

.selectDropdown {
  @extend %tplDarkSelectDropdown;
  background: $darkSelectOpenedBC;
  padding: 20px 0;
}

.dropdownLight {
  background: white;
  border: 1px solid $lightSelectOpenedBorder;
  border-top: none;
}

.dropdownInner {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 80%;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: $borderRadius;
    border: none;
    outline: none;
  }

  span {
    padding: 15px 0;
    line-height: 0;
  }
}

.innerLight {
  input {
    background: #EFEFEF;
    color: rgba(0, 0, 0, 0.3);
  }

  span {
    color: black;
  }
}


@media (min-width: 640px) {
  .select {
    margin-bottom: 0;
  }
}

@media (min-width: 1366px) {
  .selectDropdown {
    padding: 20px;
  }

  .dropdownInner {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}